/.agents
/000
/001
/07112025
/Converted
/copy_000_robocopy.log
/copy_001_robocopy.log
/copy_flight_robocopy.log
/flight
/panel_calibration_checks
/RGB_flight_D_partial_panelnorm
/RGB_standard_panel_normalized
/RGB_standard_panel_normalized_000_using_001_panel
/RGB_trusted_order_aligned_png